@import '../../assets/general.module';

.calendarTable {
    display: grid;

    grid-template-columns: 100px 1fr;
    grid-template-rows: 70px 1fr;

    max-height: calc(100vh - 75px);
    overflow: hidden;
}

.calendarTable__dates {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.calendarTable__times {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    border-right: $borderDark;
}

.calendarTable__grid {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}
