@import '../SelectedArea/styles.module';

.tableGrid__block {
    @extend .selectedArea;

    background-color: #f6f4ff;
    border-right: 1px solid rgba(0, 0, 0, 0.15);

    // вопрос: на edit странице уже занятые области должны быть доступны для ивентов или нет?
    &.disabled {
        pointer-events: none;
    }
}
