.calendarTimes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(48, 80px);
}

.calendarTimes__item {
    display: flex;
    justify-content: center;

    position: relative;
    padding: 16px 0;

    span {
        font-size: 12px;
        color: #737272;
    }

    &.active span {
        color: #000;
    }
}
