@import "../../assets/general.module";

.calendarTimes {
    display: grid;
    @include gridTemplateRows;
}

.calendarTimes__item {
    @include d-flex(flex-end, center);
    padding-right: 16px;

    //&:nth-child(2n) span {
    //    opacity: 0;
    //}

    span {
        font-size: 12px;
        color: $textGray;
    }
}
