.selectedArea {
    position: relative;

    background-color: rgba(93, 155, 247, 0.25);
    border-right: 1px solid transparent;

    &:before {
        display: block;
        content: '';

        position: absolute;
        top: 0;
        bottom: 0;
        left: 1px;
        right: 1px;

        background-image: linear-gradient(to bottom, transparent 39px, #fff 1px);
        background-size: 100% 40px;
        background-repeat: repeat-y;
    }
}

