.tableGrid__container {
    position: relative;
}

.tableGrid__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: calc(100% / 7) 40px;
    background-repeat: repeat;
}

.tableGrid {
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    grid-template-rows: repeat(96, 40px);
    position: relative;
}

