.header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 32px;
}

.header__logo {
    flex-basis: 200px;

    span {
        font-weight: 600;
    }
}

.header__dates {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    button {
        background-color: #f3f8f9;
        border: 1px solid rgba(0, 0, 0, 0.15);

        &:nth-child(2) {
            padding: 8px 24px !important;
            margin: 0 16px;

            border-radius: 8px !important;
        }
    }
}

.header__edit {
    display: flex;
    justify-content: flex-end;

    flex-basis: 200px;

    button {
        min-width: 200px;
        padding: 6px 24px !important;

        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px !important;
    }

    button.header__editButton {
        background-color: #f3f8f9 !important;
    }
}
