.selectedScope {
    background-color: red;
    border: 1px solid rgba(0, 0, 255, 0.7);
    position: relative;
}

.selectedScopeDone {
    background-color: rgba(0, 255, 0, 1);
    border: 1px solid rgba(0, 255, 0, 0.7);
}

