.selectedScope {
    display: grid;
    grid-auto-rows: auto 40px;

    background-color: rgba(93, 155, 247, 0.25);
    border: 1px solid rgba(93, 155, 247, 0.25);

    background-size: 100% 40px;
    background-repeat: repeat-y;

    background-image: url('/assets/grid-item.png');
}

.selectedScopeDone {
    @extend .selectedScope;

    width: calc(100% - 1px);
    background-color: rgba(237, 251, 201, 0.7) !important;
    border: 1px solid transparent !important;
}

