@import '../../assets/general.module';

.calendarDates {
    display: grid;
    @include gridTemplateColumns;

    flex-grow: 1;
    height: 100%;
}

.calendarDates__item {
    @include d-flex;

    position: relative;
    border-bottom: $borderDark;

    &:before {
        @include pseudo-absolute;
        top: auto;
        left: -1px;

        background-color: $backgroundDark;
        height: 20px;
        width: 1px;
    }

    span {
        color: $textGray;
        font-size: 16px;
    }
}

.empty {
    height: 70px;
    width: 100px;
    background-color: #fff;
    border-bottom: $borderDark;
}
