.calendarDates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
}

.calendarDates__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:after {
        display: block;
        content: '';
        position: absolute;
        height: 16px;
        bottom: 0px;
        right: 0px;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.15);
    }

    &:first-child {
        &:before {
            display: block;
            content: '';
            position: absolute;
            height: 16px;
            bottom: 0px;
            left: -1px;
            width: 1px;
            background-color: rgba(0, 0, 0, 0.15);
        }
    }

    span {
        font-size: 16px;
        color: #737272;
    }

    .active {
        span {
            color: #000;
        }
    }
}
